[Unit]
Description=pet clinic
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=petclinic
Group=petclinic

Type=simple

Environment=""
WorkingDirectory=/app
ExecStart=/usr/local/sdkman/candidates/java/current/bin/java -Dspring.profiles.active=postgres -DPOSTGRES_URL=jdbc:postgresql://{{groups['tag_Name_pet_clinic_db_'+ env][0]}}:5432/petclinic -DPOSTGRES_USER=petclinic-user -DPOSTGRES_PASS=petclinic-passwd -jar pet-clinic.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target