[Unit]
Description=pet clinic
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=petclinic
Group=petclinic

Type=simple

Environment=""
WorkingDirectory=/app
ExecStart=/usr/local/sdkman/candidates/java/current/bin/java -jar pet-clinic.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target